$blue = #34b6ee
$pink = #ec008c
$yellow = #e9ec00
$orange = #fc5121
$red = #f41c21
$purple = #c724eb

scale = 0 600px 800px 1020px 1260px

body {
  font-family: 'Poppins', sans-serif
  background-color: $yellow
}

a {
  color: $blue
  text-decoration: none
  &:hover {
    text-decoration: none
  }
}

*:focus {
    outline: none
}

svg {
  cursor: pointer
}

.page {
  background: white
  margin: 0 1rem
  padding: 0.5rem 1rem 2rem
}

.fa {
  font-size: 1rem
  transform: translateY(50deg)
  cursor: pointer
  color: $blue
  &:hover {
    color: black
  }
  span {
    display: none
  }
}

.fa-spin {
  color: black
}

.fa-trash {
  color: #aaa
}

.fa.fa-link {
  color: white
  background: $red
  text-align: center
  border-radius: 50%
  font-size: 0.75rem
  width: 1.25rem
  height: 1.25rem
  line-height: 1rem
  margin: 0
  padding: 0.125rem
  border: none
}

.fa.fa-calendar {
  color: $blue
  background: white
  text-align: center
  border-radius: 50%
  font-size: 0.75rem
  width: 1.4rem
  height: 1.4rem
  line-height: 1rem
  margin: 0
  padding: 0.125rem
  border: none
}

.fa-plus-circle {
  color: black
  font-size: 1.33rem
  &:hover {
    color: $pink
  }
}

.fa-minus-circle {
  color: $pink
  font-size: 1.33rem
}

.fa-heart {
  color: $red
}

.fa-globe {
  color: $blue
}

.fa-map-marker {
  color: $orange
}

.fa-times.clear-submit {
  color: black
  position: absolute
  top: 0.25rem
  right: 0.33rem
}

.fa-clock-o {
  color: $pink
}

.btn.facebook {
  background: #3b5998
}

.container {
  max-width: 1100px
  margin: 0 auto
  padding-top: calc(112px + 1rem)
  padding-bottom: 55px
  +mobile(){
    padding-top: calc(65px + 1rem)
  }
  +tablet(){
    padding-top: calc(70px + 1rem)
  }
}

.wrapper {
  max-width: 1100px
  margin: 0 auto
}

.center {
  text-align: center
}

.jumbo {
  position: relative
  height: 100vh
  display: -ms-flexbox
  display: flex
  -ms-flex-direction: column
  flex-direction: column
  text-align: center
  -ms-flex-align: center
  align-items: center
  -ms-flex-pack: center
  justify-content: center
  width: 100%
  background: black
  overflow: hidden
  padding: 0 2rem
  box-sizing: border-box
  h2 {
    font-size: 1.25rem
    font-weight: bold
    line-height: 1
    color: white
    margin: 0 1rem 1rem
    +tablet(){
      margin: 1rem 2rem
      font-size: 3rem
    }
    +desktop(){
      margin: 1rem 2rem
      font-size: 5rem
    }
  }
  p {
    color: white
    font-size: 0.8rem
    +tablet(){
      font-size: 1rem
    }
    +desktop(){
      font-size: 1.2rem
    }
  }
  .fa-facebook-square {
    color: white
  }
  .brand {
    position: relative
    margin-top: -2rem
    flex-direction: column
    h1 {
      color: white
    }
    img {
      width: 72px
      height: auto
      margin: 0 auto
    }
  }
  .sign-up {
    color: white
    strong {
      color: $blue
    }
    div {
      padding: 1rem 0
    }
    input {
      border: none
      padding: 0.5rem
      width: 200px
    }
    button {
      padding: 0.5rem
      border: none
      background: black
      color: white
    }
  }
  .share-ui {
    font-size: 0.75rem
    div {
      padding: 0
    }
  }
  .share-buttons {
    width: 125px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    .fa {
      margin-left: 0.25rem
    }
  }
}

.section-one {
  &:after {
    content: ''
    background: url('./friends.jpg') center center
    opacity: 0.5
    background-size: cover
    position: absolute
    width: 100%
    height: 100%
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 0
  }
  .jumbo-content {
    margin-top: 0
  }
}

.section-two {
  background: $blue
  span {
    color: $yellow
  }
}

.section-three {
  background: $pink
  span {
    color: $blue
  }
}

.section-four {
  background: $yellow
  span {
    color: $pink
  }
  h2, p {
    color: black
  }
  .section-nav {
    color: black
    .fa-chevron-down,
    .fa-chevron-up {
      color: black
    }
  }
}

.jumbo-content {
  position: relative
  z-index: 1
  display: -ms-flexbox
  display: flex
  -ms-flex-direction: column
  flex-direction: column
  text-align: center
  -ms-flex-align: center
  align-items: center
  -ms-flex-pack: center
  justify-content: center
}

.section-nav {
  position: relative
  margin-top: 2rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  z-index: 2
  text-align: center
  color: white
  font-size: 1rem
  font-weight: 200
  .fa-chevron-down,
  .fa-chevron-up {
    color: white
    font-size: 2rem
  }
}

.user-profile {
  display: flex
  align-items: center
  justify-content space-between
  margin-right: 1.5rem
  z-index: 1
  +desktop() {
    justify-content center
  }
  img {
    width: 30px
    height: 30px
    border-radius: 50%
  }
  h4 {
    font-family: 'Poppins', sans-serif
    font-weight: 600
    color: black
    margin: 0 1rem 0 0.5rem
    +to-width(3){
      display: none
    }
  }
  button.btn {
    +mobile(){
      width: 30px
      height: 30px
      padding: 0
      border-radius: 50%
      span {
        display: none
      }
      i {
        display: inline
        color: white
        margin: 0
      }
    }
    +tablet(){
      width: 30px
      height: 30px
      padding: 0
      border-radius: 50%
      span {
        display: none
      }
      i {
        display: inline
        color: white
        margin: 0
      }
    }
    +desktop(){
      i {
        display: none
      }
    }
  }
}

.user-profile-wrapper {
  display: flex
  align-items: center
}

.add-hang {
  border-radius: 2px
  border-top: 3px solid $red
  box-sizing: border-box
  padding: 1rem
  margin: 0 0.5rem 1rem
  background-color: rgb(237, 237, 237)
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2)
  width: calc(100% - 1rem)
  -webkit-transition: height 1s
  -moz-transition: height 1s
  -ms-transition: height 1s
  -o-transition: height 1s
  transition: height 1s
  .fa {
    display: inline-block
    text-align: center
    width: 100%
  }
  h3 {
    font-weight: 600
    text-align: center
    margin: 0
  }
  form {
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    flex-direction: column
    margin-top: 1rem
    +desktop() {
      flex-direction: row
      justify-content: space-between
    }
  }
  button {
    margin: 0
    white-space: nowrap
    width: auto
  }
  img {
    border-radius: 50%
  }
}

.add-hang-fixed {
  position: fixed
  bottom: 0
  z-index: 3
  +desktop(){
    position: relative
    width(1100px - 2rem)
  }
  @extend .add-hang
}

.add-hang-wrapper,
.add-msg-wrapper {
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  flex-direction: column
  +desktop() {
    flex-direction: row
    justify-content: space-between
  }
  > div {
    width: 100% !important
    box-sizing: border-box
    margin: 0 0.5rem
    div {
      width: 100% !important
    }
    input {
      width: 100%
    }
  }
}

div.input-datetime {
  > div {
    display: none
  }
  div.input-datetime {
    display: block
    div {
      display: block
    }
  }
}

.add-hang-footer {
  +desktop() {
    width: 15%
  }
}

.add-hang form > .input-datetime {
  padding: 0 0 0 9px
}

.joyride-step-4 .input-location {
  z-index: 9999
}

.customWrapper { //for google places suggest
  font-size: 0.75rem
  text-align: left
  padding: 0.5rem
  z-index: 99999
}

.display-hang {
  width: 100%
  .fa-spin {
    font-size: 2rem
    margin: 6rem auto
    display: block
    text-align: center
  }
  button {
    margin-top: 20px
    margin-left: auto
    display: block
  }
}

h2 {
  padding: 0
  margin: 0
  font-weight: 400
}

form button {
  width: 100%
  margin-top: 10px
}

a.btn-back {
  border-radius: 2px
  background-color: #ededed
  cursor: pointer
  border: 0
  border-radius: 50%
  width: 22px
  height: 20px
  line-height: 20px
  text-align: center
  color: $pink
  font-size: 2rem
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
  padding: 10px
  margin: 0 auto 1rem
  display: table
  &:hover {
    background: black
    color: white
  }
}

button.btn {
  border-radius: 2px
  background-color: $blue
  cursor: pointer
  border: 0
  color: white
  font-size: 14px
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
  padding: 10px 20px
}

button.center {
  border-radius: 2px
  background-color: $blue
  cursor: pointer
  border: 0
  color: white
  font-size: 14px
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
  padding: 10px 20px
  margin: 0.5rem auto
  display: block
}

header {
  position: fixed
  width: 100vw
  z-index: 2
  color: white
  background-color: white
  border-top: 5px solid $blue
  padding: 1rem 0 1rem 1rem
  +desktop() {
    padding: 33px 0 25px 1rem
  }
  &.hide {
    display: none
  }
  .wrapper {
    width: 100%
    display: flex
    flex-direction: column
    +desktop() {
      flex-direction: row
      justify-content: space-between
    }
  }

  i {
  vertical-align: middle
  margin-left: 12px
  }

  button.btn {
    background: black
  }

}

.brand {
  display: flex
  justify-content: center
  margin-bottom: 1rem
  z-index: 1
  +mobile() {
    position: absolute
    width: calc( 100% - 2rem)
    margin-top: 0.25rem
  }
  +tablet() {
    position: absolute
    width: calc( 100% - 2rem)
    margin-top: 0.25rem
  }
  +desktop() {
    margin: 0
  }
  img {
    width: auto
    height: 25px
    +desktop() {
      height: 50px
    }
  }
  h1 {
    font-family: 'Arvo'
    font-weight: 600
    letter-spacing: 0.3px
    display: inline-block
    margin: 0.15rem 0 0
    vertical-align: middle
    color: black
    height: 1rem
    font-size: 1rem
    +desktop() {
      font-size: 25px
      height: 25px
      margin: 0.5rem 0 0
    }
  }
}

.footer-nav {
  width: 100%
  position: fixed
  left: 0
  bottom: 0
  .fa {
    font-size: 1.25rem
  }
  div {
    color: black !important
    font-weight: 600
  }
}

.hangs-nearby {
  font-size: 0.75rem
  font-weight: 600
  text-align: center
  height: 40px
  .fa-map-marker {
    color: $red
    font-size: 1.25rem
  }
  span {
    font-weight: 600
    color: black
  }
}

.hangs {
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  margin: 0
  padding: 0
}

.hang-item-enter {
  opacity: 0.01
}

.hang-item-enter.hang-item-enter-active {
  opacity: 1
  transition: opacity 500ms ease-in
}

.hang-item-leave {
  opacity: 1
}

.hang-item-leave.hang-item-leave-active {
  opacity: 0.01
  transition: opacity 300ms ease-in
}

.hang-item {
  flex: 0 0 auto
  list-style-type: none
  background-color: rgb(237, 237, 237)
  color: black
  margin: 0 0.5rem 1rem
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2)
  -webkit-transition: 0.5s
  -moz-transition: 0.5s
  -o-transition: 0.5s
  transition: 0.5s
  opacity: 0
  visibility: hidden
  +to-width(5){
    width: calc(33.33% - 1rem)
    min-height: calc(1100px / 4)
  }
  +to-width(4){
    width: calc(50% - 1rem)
    min-height: calc(1100px / 4)
  }
  +to-width(3){
    width: calc(100% - 1rem)
    min-height: calc(100vw - 4rem)
  }
  img {
    width: 100%
    height: auto
  }
  &.show {
    opacity: 1
    visibility: visible
    display: block
  }
  &.hide {
    opacity: 0
    visibility: hidden
    display: none
  }
}

.hang-item-new {
  @extend .hang-item
  opacity: 1
  visibility: visible
  position: relative
  border: 4px solid $blue
  box-sizing: border-box
  overflow: hidden
  +mobile() {
    width: calc(100% - 1rem)
    min-height: calc(100vw - 3rem)
  }
  .hang-item {
    position: absolute
    width: 100%
    height: 100%
    top: 0
    right: 0
    bottom: 0
    left: -0.5rem
  }
}

.hang-detail {
  width: calc(100% - 1rem)
  margin: 0 auto
  width: calc(100% - 1rem)
  height: auto
  +tablet() {
    width: calc(500px - 1rem)
    min-height: calc(1100px / 3.33)
  }
  +desktop() {
    width: calc(50% - 1rem)
    min-height: calc(1100px / 3.33)
  }
  .hang-item {
    +tablet() {
      width: 100%
    }
    +desktop() {
      width: 100%
    }
  }
}

.hang-date {
  background: black
  color: white
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: absolute
  top: 0
  right: 0
  height: 100%
  padding: 0 1rem
  text-transform: uppercase
  font-family: 'Josefin Sans', sans-serif
  .hang-month {
    font-family: 'Poppins', sans-serif
    font-weight: 100
    line-height: 1.2
    letter-spacing: 0.1rem
  }
  .hang-day {
    font-size: 1.6rem
    font-weight: 600
    line-height: 0.9
    letter-spacing: 0.1rem
  }
  .hang-year {
    font-size: 0.75rem
    letter-spacing: 0.15rem
  }
}

.hang-time {
  font-weight: 600
}

.hang-header {
  position: relative
  background-color: $pink
  margin: 0
  color: white
  font-weight: 300
  padding: 1rem 5rem 1rem 1rem
  line-height: 0.75rem
  cursor: pointer
  h2 {
    font-size: 1.25rem
    font-weight: 600
    line-height: 1
    margin-bottom: 0.25rem
    text-transform: capitalize
    a {
      color: white
      text-decoration: none
    }
  }
}

.hang-info {
  padding: 1rem
  display: flex
  justify-content: space-between
  align-items: center
}

.hang-ui {
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  .fa {
    margin-left: 0.25rem
  }
  div {
    padding-left: 0.1rem
  }
  button.hang-join,
  button.hang-leave {
    background: $blue
    color: white
    font-size: 0.66rem
    padding: 0.33rem
    margin: 0
    border: none
    border-radius: 0.2rem
  }
  button.hang-leave {
    background: $pink
  }
}

.hang-member {
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 0.75rem
  b {
    display: inline
    font-size: 9px
    font-weight: 400
    line-height: 10px
    color: black
  }
  span {
    line-height: 1
  }
  img {
    width: 20px
    height: 20px
    border-radius: 50%
    margin-right: 0.25rem
    &.hang-host {
      width: 40px
      height: 40px
    }
  }
}

.hang-crew-wrapper {
  width: 100%
}

.hang-number.hang-number {
  background: $pink
  font-size: 0.33rem
  color: white
  min-width: 15px
  height: 1rem
  line-height: 1rem
  text-align: center
  border-radius: 10%
  padding: 0 0.1rem
  position: absolute
  left: -0.5rem
}

.hang-crew {
  position: relative
  list-style: none
  margin: 0
  padding: 0.5rem 0
  border-top: 1px solid #b6b6b6
}

.hang-crew-label {
  color: #b6b6b6
  padding: 0 0.5rem
  font-size: 0.5rem
  font-weight: 600
  text-align: center
  box-sizing: border-box
  display: inline-block
  position: absolute
  top: -0.33rem
  left: 50%
  width: 40px
  margin-left: -20px
  background: #ededed
  text-transform: uppercase
}

.hang-crew-item {
  padding: 0.5rem 1rem
  display: flex
  justify-content: space-between
  align-items: center
}

.hang-placetime {
  font-size: 0.66rem
}

.hang-chat-wrapper {
  background: #d3d3d3
  form {
    padding: 0 1rem 0 0.5rem
    display: flex
    align-items: bottom
    justify-content: space-between
  }
}

.hang-chat {
  position: relative
  list-style: none
  margin: 0
  padding: 1rem 0
  background: white
}

.hang-chat-label {
  color: #b6b6b6
  padding: 0.25rem 0.5rem 0
  font-size: 0.5rem
  font-weight: 600
  text-align: center
  -webkit-box-sizing: border-box
  box-sizing: border-box
  display: inline-block
  position: absolute
  top: -0.66rem
  left: 50%
  width: 50px
  margin-left: -25px
  background: white
  text-transform: uppercase
  border-radius: 0.25rem
}

.add-msg-footer {
  margin-bottom: 1.5rem
  button.btn {
    background: black
    padding: 10px
    border-radius: 50%
  }
}

.hang-msg-user {
  img {
    width: 30px
    height: 30px
    border-radius: 50%
  }
}

.time-elapsed {
  font-size: 0.25rem
  position: absolute
  left: -0.5rem
  bottom: -1rem
  display: inline-block
  white-space: nowrap
  color: black
}

.hang-chat-item {
  padding: 0 1rem
  display: flex
  align-items: flex-end
  margin-bottom: 1.25rem
  .hang-msg-user {
    margin-bottom: -0.5rem
  }
  .hang-msg {
    position: relative
    border-radius: 0.25rem 0.25rem 0.25rem 0
    margin: 0 0.66rem
    padding: 0.25rem 0.5rem
    background: $blue
    font-size: 0.75rem
    color: white
    max-width: 50%
    &:before {
      content: ''
      position: absolute
      bottom: 0
      left: -10px
      border-top: 10px solid transparent
      border-bottom: 0
      border-right: 10px solid $blue
    }
  }
}

.hang-chat-item.hang-chat-primary {
  flex-direction: row-reverse
  .time-elapsed {
    left: auto
    right: -0.5rem
  }
  .hang-msg {
    background: $pink
    border-radius: 0.25rem 0.25rem 0 0.25rem
    &:before {
      display: none
    }
    &:after {
      content: ''
      position: absolute
      bottom: 0
      right: -10px
      border-top: 10px solid transparent
      border-bottom: 0
      border-left: 10px solid $pink
    }
  }
}

.orange {
  display: block
  margin: 0 auto
  +mobile() {
    width: calc(100% - 1rem)
    min-height: calc(100vw - 2rem)
  }
  +tablet() {
    width: calc(50% - 1rem)
    min-height: calc((100vw / 2) - 2rem)
  }
  +desktop() {
    width: calc(33.33% - 1rem)
    min-height: calc(1100px / 3.33)
  }
  .bubble {
    position: relative
    display: inline-block
    width: 100%
    padding: 1rem
    margin: 0 0 1rem
    border-radius: 1rem
    background: white
    text-align: center
    &:after {
      content: ''
      position: absolute
      width: 0
      height: 0
      bottom: -30px
      right: 40px
      border-left: 20px solid transparent
      border-right: 20px solid transparent
      border-top: 30px solid white
    }
  }
  img {
    width: 100%
    height: auto
  }
}

.user-geolocation {
   position: relative
   min-height: 40px
   height: auto !important
   height: 40px
}

//css
@import "_joyride.css"

//stylus
@import "_addtocalendar.styl"
@import "_popupbox.styl"
@import "_toggleswitch.styl"
