body {
  font-family: 'Poppins', sans-serif;
  background-color: #e9ec00;
}
a {
  color: #34b6ee;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
*:focus {
  outline: none;
}
svg {
  cursor: pointer;
}
canvas {
  //display: none;
}
.small {
  font-size: 0.75rem;
}
.x-small {
  font-size: 0.5rem;
}
.page {
  background: #fff;
  margin: 0 auto;
  padding: 0.5rem 1rem 2rem;
  max-width: 600px;
}
.fa {
  font-size: 1rem;
  transform: translateY(50deg);
  cursor: pointer;
  color: #34b6ee;
}
.fa:hover {
  color: #000;
}
.fa span {
  display: none;
}
.fa-spin {
  color: #000;
}
.fa-trash {
  color: #aaa;
}
.fa.fa-bolt {
  color: #e9ec00;
  background: #000;
  text-align: center;
  border-radius: 50%;
  font-size: 0.85rem;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0.033rem;
  border: none;
}
.fa.fa-link {
  color: #fff;
  background: #f41c21;
  text-align: center;
  border-radius: 50%;
  font-size: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1rem;
  margin: 0;
  padding: 0.125rem;
  border: none;
}
.fa.fa-calendar {
  color: #34b6ee;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 0.75rem;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1rem;
  margin: 0;
  padding: 0.125rem;
  border: none;
}
.fa-plus-circle {
  color: #000;
  font-size: 1.33rem;
}
.fa-plus-circle:hover {
  color: #ec008c;
}
.fa-minus-circle {
  color: #ec008c;
  font-size: 1.33rem;
}
.fa-heart {
  color: #f41c21;
}
.fa-globe {
  color: #34b6ee;
}
.fa-map-marker {
  color: #fc5121;
}
.fa-times.clear-submit {
  color: #000;
  position: absolute;
  top: 0.25rem;
  right: 0.33rem;
}
.fa-clock-o {
  color: #ec008c;
}
.white {
  color: white;
}
.btn.facebook {
  background: #3b5998;
  margin: 0 0.25rem 1rem;
  width: 200px;
}
.btn.google {
  background: #fff;
  color: #000;
  margin: 0 0.25rem 1rem;
  width: 200px;
}
.btn.google .fa {
  color: #D93025;
}
.btn.twitter {
  background: #01ACED;
  color: #fff;
  margin: 0 0.25rem 1rem;
  width: 200px;
}
.btn.twitter .fa {
  color: #fff
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: calc(112px + 1rem);
  padding-bottom: 55px;
}
@media only screen and (max-width: 400px) {
  .container {
    padding-top: calc(65px + 1rem);
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .container {
    padding-top: calc(70px + 1rem);
  }
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.jumbo {
  position: relative;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background: #000;
  overflow: hidden;
  padding: 0 2rem;
  box-sizing: border-box;
}
.jumbo h2 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  margin: 0 1rem 2rem;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .jumbo h2 {
    margin: 1rem 2rem;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1050px) {
  .jumbo h2 {
    margin: 1rem 2rem;
    font-size: 5rem;
  }
}
.jumbo p {
  color: #fff;
  font-size: 0.8rem;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .jumbo p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1051px) {
  .jumbo p {
    font-size: 1.2rem;
  }
}
.jumbo .fa-facebook-square {
  color: #fff;
}
.jumbo .brand {
  position: relative;
  margin-top: -2rem;
  flex-direction: column;
}
.jumbo .brand h1 {
  color: #fff;
}
.jumbo .brand img {
  width: 72px;
  height: auto;
  margin: 0 auto;
}
.jumbo .sign-up {
  color: #fff;
}
.jumbo .sign-up strong {
  color: #34b6ee;
}
.jumbo .sign-up div {
  padding: 1rem 0;
}
.jumbo .sign-up input {
  border: none;
  padding: 0.5rem;
  width: 200px;
}
.jumbo .sign-up button {
  padding: 0.5rem;
  border: none;
  background: #000;
  color: #fff;
}
.jumbo .share-ui {
  font-size: 0.75rem;
}
.jumbo .share-ui div {
  padding: 0;
}
.jumbo .share-buttons {
  width: 125px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.jumbo .share-buttons .fa {
  margin-left: 0.25rem;
}
.jumbo .white {
  color: white;
}
.section-one:after {
  content: '';
  background: url("./friends.jpg") center center;
  opacity: 0.5;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.section-one .jumbo-content {
  margin-top: 0;
}
.section-two {
  background: #34b6ee;
}
.section-two span {
  color: #e9ec00;
}
.section-three {
  background: #ec008c;
}
.section-three span {
  color: #34b6ee;
}
.section-four {
  background: #e9ec00;
}
.section-four span {
  color: #ec008c;
}
.section-four h2,
.section-four p {
  color: #000;
}
.section-four .section-nav {
  color: #000;
}
.section-four .section-nav .fa-chevron-down,
.section-four .section-nav .fa-chevron-up {
  color: #000;
}
.jumbo-content {
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.section-nav {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
}
.section-nav .fa-chevron-down,
.section-nav .fa-chevron-up {
  color: #fff;
  font-size: 2rem;
}
.user-points {
  position: absolute;
  font-size: 9px;
  padding: 0 0.2rem;
  height: 1rem;
  line-height: 1rem;
  background: rgba(1,172,237,0.66);
  border-top-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: white;
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
  .user-points {
    left: 1.5rem;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1050px) {
  .user-points {
    right: -1rem !important;
    top: -0.4rem;
  }
}
@media only screen and (min-width: 1051px) {
  .user-points {
    right: 90% !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
}
.user-profile-image {
  width: 30px;
  position: relative;
}
.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5rem;
  z-index: 1;
}
@media only screen and (min-width: 1050px) {
  .user-profile {
    justify-content: center;
  }
}
.user-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user-profile h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #000;
  margin: 0 1rem 0 0.5rem;
}
@media only screen and (max-width: 800px) {
  .user-profile h4 {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .user-profile button.btn {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
  }
  .user-profile button.btn span {
    display: none;
  }
  .user-profile button.btn i {
    display: inline;
    color: #fff;
    margin: 0;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .user-profile button.btn {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
  }
  .user-profile button.btn span {
    display: none;
  }
  .user-profile button.btn i {
    display: inline;
    color: #fff;
    margin: 0;
  }
}
@media only screen and (min-width: 1050px) {
  .user-profile button.btn i {
    display: none;
  }
}
.user-profile-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 1051px) {
  .user-profile-wrapper {
    position: absolute;
    right: 4rem;
  }
}
.add-hang,
.add-hang-fixed {
  border-radius: 2px;
  border-top: 3px solid #f41c21;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 0.5rem 1rem;
  background-color: #ededed;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
  width: calc(100% - 1rem);
  height: 88px;
  min-height: 88px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
  -webkit-transition: min-height 0.5s;
  -moz-transition: min-height 0.5s;
  -ms-transition: min-height 0.5s;
  -o-transition: min-height 0.5s;
  transition: min-height 0.5s;
}
.add-hang-tall {
  min-height: 300px;
  height: auto !important;
  height: 300px;
}
@media only screen and (min-width: 1050px) {
  .add-hang-tall {
    min-height: 200px;
    height: auto !important;
    height: 200px;
  }
}
.add-hang .add-hang-form {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.add-hang.add-hang-tall .add-hang-form  {
  opacity: 1;
}
@media only screen and (max-width: 720px) {
  .add-hang,
  .add-hang-fixed {
    width: calc(100% - 2rem);
    margin: 0 1rem 1rem;
  }
}
.add-hang .fa,
.add-hang-fixed .fa {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.add-hang h3,
.add-hang-fixed h3 {
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.add-hang form,
.add-hang-fixed form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1050px) {
  .add-hang form,
  .add-hang-fixed form {
    flex-direction: row;
    justify-content: space-between;
  }
}
.add-hang button,
.add-hang-fixed button {
  margin: 0;
  white-space: nowrap;
  width: auto;
}
.add-hang img,
.add-hang-fixed img {
  border-radius: 50%;
}
.add-hang-fixed {
  position: fixed;
  bottom: 0;
  z-index: 3;
}
@media only screen and (min-width: 1050px) {
  .add-hang-fixed {
    position: relative;
  }
}
.add-hang-wrapper,
.add-msg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
@media only screen and (min-width: 1050px) {
  .add-hang-wrapper,
  .add-msg-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.add-hang-wrapper > div,
.add-msg-wrapper > div {
  width: 100% !important;
  box-sizing: border-box;
  margin: 0 0.5rem;
}
.add-hang-wrapper > div div,
.add-msg-wrapper > div div {
  width: 100% !important;
}
.add-hang-wrapper > div input,
.add-msg-wrapper > div input {
  width: 100%;
}
div.input-datetime > div {
  display: none;
}
div.input-datetime div.input-datetime {
  display: block;
}
div.input-datetime div.input-datetime div {
  display: block;
}
@media only screen and (min-width: 1050px) {
  .add-hang-footer {
    width: 15%;
  }
}
.add-hang form > .input-datetime {
  padding: 0 0 0 9px;
}
.joyride-step-4 .input-location {
  z-index: 9999;
}
.claim-hang {
  width: 69px;
  height: 50px;
  background: #ec008c;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.33rem;
  margin: 0;
  border: none;
  position: absolute;
  bottom: -50px;
  right: 0;
  border-bottom-left-radius: 0.5rem;
  cursor: pointer;
}
.claim-hang:hover {
  background: #000;
}
.claim-hang .fa-plus {
  color: #fff;
}
.customWrapper {
  font-size: 0.75rem;
  text-align: left;
  padding: 0.5rem;
  z-index: 99999;
}
.display-hang {
  width: 100%;
}
.display-hang .fa-spin {
  font-size: 2rem;
  margin: 6rem auto;
  display: block;
  text-align: center;
}
.display-hang button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}
h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
form button {
  width: 100%;
  margin-top: 10px;
}
a.btn-back {
  border-radius: 2px;
  background-color: #ededed;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  width: 22px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #ec008c;
  font-size: 2rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  padding: 10px;
  margin: 0 auto 1rem;
  display: table;
}
a.btn-back:hover {
  background: #000;
  color: #fff;
}
a.btn,
button.btn {
  border-radius: 2px;
  background-color: #34b6ee;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  padding: 10px 20px;
}
.welcome-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.make {
  width: calc(50vw - 4rem);
  height: 55px;
  background: #ec008c;
  display: inline-flex;
  font-size: 0.75rem;
  margin: 0 0.25rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}
.btn.nearby {
  width: calc(50vw - 4rem);
  height: 55px;
  background: #34b6ee;
  display: inline-flex;
  font-size: 0.75rem;
  margin: 0 0.25rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 720px) {
  .welcome-buttons {
    margin-top: 1rem;
  }
  .btn.make, .btn.nearby {
    width: 200px;
    height: auto;
  }
}
button.center {
  border-radius: 2px;
  background-color: #34b6ee;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  padding: 10px 20px;
  margin: 0.5rem auto;
  display: block;
}
header {
  position: fixed;
  width: 100vw;
  z-index: 2;
  color: #fff;
  background-color: #fff;
  border-top: 5px solid #34b6ee;
  padding: 1rem 0 1rem 1rem;
}
@media only screen and (min-width: 1050px) {
  header {
    padding: 33px 0 25px 1rem;
  }
}
header.hide {
  display: none;
}
header .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1050px) {
  header .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
header i {
  vertical-align: middle;
  margin-left: 12px;
}
header button.btn {
  background: #000;
}
.brand {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  z-index: 1;
}
@media only screen and (max-width: 400px) {
  .brand {
    position: absolute;
    width: calc(100% - 2rem);
    margin-top: 0.25rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .brand {
    position: absolute;
    width: calc(100% - 2rem);
    margin-top: 0.25rem;
  }
}
@media only screen and (min-width: 1050px) {
  .brand {
    margin: 0;
  }
}
.brand img {
  width: auto;
  height: 25px;
}
@media only screen and (min-width: 1050px) {
  .brand img {
    height: 50px;
  }
}
.brand h1 {
  font-family: 'Arvo';
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0.15rem 0 0;
  vertical-align: middle;
  color: #000;
  height: 1rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1050px) {
  .brand h1 {
    font-size: 25px;
    height: 25px;
    margin: 0.5rem 0 0;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 18px;
  height: 15px;
  right: 1rem;
  top: 1.75rem;
}

@media only screen and (min-width: 1050px) {
  .bm-burger-button {
    width: 36px;
    height: 30px;
    top: 3.25rem;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 36px !important;
  width: 36px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: red;
  height: 6px !important;
  width: 28px !important;
  right: -0.5rem;
  top: 1rem;
}

/* General sidebar styles */
.bm-menu {
  background: #34b6ee;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  border-top: 5px solid #257fa7;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  text-align: left;
}

/* Individual item */
.bm-item {
  display: inline-block;
  border-bottom: 1px solid #e9ec00;
  padding: 1rem 0;
}

.bm-item.menu-item {
  font-weight: 600;
  color: #000;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.footer-nav {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100001;
}
.footer-nav .fa {
  font-size: 1.25rem;
}
.footer-nav div {
  color: #000 !important;
  font-weight: 600;
}
.hangs-nearby {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  padding: 0 2rem 1rem;
}
.hangs-nearby h3 {
  margin: 0;
  padding: 0;
}
.hangs-nearby .fa-map-marker {
  color: #f41c21;
  font-size: 1.25rem;
}
.hangs-nearby span {
  font-weight: 600;
  color: #000;
}
.hangs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.hang-item-enter {
  opacity: 0.01;
}
.hang-item-enter.hang-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.hang-item-leave {
  opacity: 1;
}
.hang-item-leave.hang-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.hang-item,
.hang-item-new {
  flex: 0 0 auto;
  list-style-type: none;
  background-color: #ededed;
  color: #000;
  margin: 0 1rem 1rem;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1800px) {
  .hang-item,
  .hang-item-new {
    width: calc(33.33% - 1rem);
    margin: 0 0.5rem 1rem;
    /*min-height: calc(1100px / 4);*/
  }
}
@media only screen and (max-width: 1050px) {
  .hang-item,
  .hang-item-new {
    width: calc(50% - 1rem);
    margin: 0 0.5rem 1rem;
    /*min-height: calc(1100px / 4);*/
  }
}
@media only screen and (max-width: 800px) {
  .hang-item,
  .hang-item-new {
    width: calc(100% - 2rem);
    margin: 0 auto 1rem;
    /*min-height: calc(100vw - 4rem);*/
  }
}
.hang-item img,
.hang-item-new img {
  width: 100%;
  height: auto;
}
.hang-item.show,
.hang-item-new.show {
  opacity: 1;
  visibility: visible;
  display: block;
}
.hang-item.hide,
.hang-item-new.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.hang-item-new {
  opacity: 1;
  visibility: visible;
  position: relative;
  border: 4px solid #34b6ee;
  box-sizing: border-box;
  overflow: hidden;
}
@media only screen and (max-width: 400px) {
  .hang-item-new {
    width: calc(100% - 2rem);
    min-height: calc(100vw - 3rem);
  }
}
.hang-item-new .hang-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: -0.5rem;
}
.hang-item-graphic {
  position: relative;
}
.hang-detail {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.hang-qr {
  padding: 0 1rem;
}
.hang-qr svg {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .hang-detail {
    width: calc(100% - 2rem);
    max-width: 500px;
    min-height: calc(1100px / 3.33);
  }
}
@media only screen and (min-width: 1050px) {
  .hang-detail {
    width: 50%;
    min-height: calc(1100px / 3.33);
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .hang-detail .hang-item {
    width: 100%;
  }
}
@media only screen and (min-width: 1050px) {
  .hang-detail .hang-item {
    width: 100%;
  }
}
.hang-date {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 1rem;
  text-transform: uppercase;
}
.hang-month {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
.hang-day {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.hang-year {
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
}
.hang-time {
  font-weight: 600;
}
.hang-header {
  position: relative;
  background-color: #ec008c;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 1rem 5rem 1rem 1rem;
  line-height: 0.75rem;
  cursor: pointer;
}
.hang-header h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}
.hang-header h2 a {
  color: #fff;
  text-decoration: none;
}
.hang-info {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hang-ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hang-ui .fa {
  margin-left: 0.25rem;
}
.hang-ui div {
  padding-left: 0.1rem;
}
.hang-ui button.hang-join,
.hang-ui button.hang-leave {
  background: #34b6ee;
  color: #fff;
  font-size: 0.66rem;
  padding: 0.33rem;
  margin: 0;
  border: none;
  border-radius: 0.2rem;
}
.hang-ui button.hang-leave {
  background: #ec008c;
}
.hang-member {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}
.hang-member b {
  display: inline;
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  color: #000;
}
.hang-member span {
  line-height: 1;
}
.hang-member img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 0.25rem;
}
.hang-member img.hang-host {
  width: 35px;
  height: 35px;
}
.hang-crew-wrapper {
  width: 100%;
}
.hang-number.hang-number {
  background: #ec008c;
  font-size: 0.33rem;
  color: #fff;
  min-width: 15px;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 10%;
  padding: 0 0.1rem;
  position: absolute;
  left: -0.5rem;
}
.hang-crew {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  border-top: 1px solid #b6b6b6;
}
.hang-crew-label {
  color: #b6b6b6;
  padding: 0 0.5rem;
  font-size: 0.5rem;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: -0.33rem;
  left: 50%;
  width: 40px;
  margin-left: -20px;
  background: #ededed;
  text-transform: uppercase;
}
.hang-crew-item {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hang-placetime {
  font-size: 0.66rem;
}
.hang-chat-wrapper {
  background: #d3d3d3;
}
.hang-chat-wrapper form {
  padding: 0 1rem;
  display: flex;
  align-items: bottom;
  justify-content: space-between;
}
.hang-chat {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  background: #fff;
}
.hang-chat-label {
  color: #b6b6b6;
  padding: 0.25rem 0.5rem 0;
  font-size: 0.5rem;
  font-weight: 600;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: -0.66rem;
  left: 50%;
  width: 50px;
  margin-left: -25px;
  background: #fff;
  text-transform: uppercase;
  border-radius: 0.25rem;
}
.add-msg-footer {
  margin-bottom: 1.5rem;
}
.add-msg-footer button.btn {
  background: #000;
  padding: 10px;
  border-radius: 50%;
}
.hang-msg-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.time-elapsed {
  font-size: 0.25rem;
  position: absolute;
  left: -0.5rem;
  bottom: -1rem;
  display: inline-block;
  white-space: nowrap;
  color: #000;
}
.hang-chat-item {
  padding: 0 1rem;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.25rem;
}
.hang-chat-item .hang-msg-user {
  margin-bottom: -0.5rem;
}
.hang-chat-item .hang-msg {
  position: relative;
  border-radius: 0.25rem 0.25rem 0.25rem 0;
  margin: 0 0.66rem;
  padding: 0.25rem 0.5rem;
  background: #34b6ee;
  font-size: 0.75rem;
  color: #fff;
  max-width: 50%;
}
.hang-chat-item .hang-msg:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 0;
  border-right: 10px solid #34b6ee;
}
.hang-chat-item.hang-chat-primary {
  flex-direction: row-reverse;
}
.hang-chat-item.hang-chat-primary .time-elapsed {
  left: auto;
  right: -0.5rem;
}
.hang-chat-item.hang-chat-primary .hang-msg {
  background: #ec008c;
  border-radius: 0.25rem 0.25rem 0 0.25rem;
}
.hang-chat-item.hang-chat-primary .hang-msg:before {
  display: none;
}
.hang-chat-item.hang-chat-primary .hang-msg:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 0;
  border-left: 10px solid #ec008c;
}
.orange {
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 400px) {
  .orange {
    width: calc(100% - 1rem);
    min-height: calc(100vw - 2rem);
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .orange {
    width: calc(50% - 1rem);
    min-height: calc((100vw / 2) - 2rem);
  }
}
@media only screen and (min-width: 1050px) {
  .orange {
    width: calc(33.33% - 1rem);
    min-height: calc(1100px / 3.33);
  }
}
.bubble {
  position: relative;
  display: inline-block;
  width: calc(100% - 4rem);
  max-width: 300px;
  padding: 0.33rem;
  margin: 0 0 1rem;
  border-radius: 1rem;
  background: #fff;
  text-align: center;
  font-size: 0.66rem;
}
.bubble:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -30px;
  right: 25%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #fff;
}
@media only screen and (min-width: 720px) {
  .bubble {
    font-size: 1rem;
  }
}
.orange img {
  width: 100%;
  height: auto;
}
.user-geolocation {
  position: relative;
  min-height: 40px;
  height: auto !important;
  height: 40px;
}
@import "_joyride.css";
.react-add-to-calendar {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  position: relative;
  display: inline-block;
  z-index: 1;
}
.react-add-to-calendar__wrapper {
  zoom: 1;
  cursor: pointer;
}
.react-add-to-calendar__button {
  padding: 0.33rem;
  background-color: #f9f9f9;
  border: 1px solid #aab9d4;
  border-radius: 3px;
  color: #000;
  font-size: 0.5rem;
}
.react-add-to-calendar__button--light {
  background-color: #fff;
}
.react-add-to-calendar__icon--right {
  padding-left: 5px;
}
.react-add-to-calendar__icon--left {
  padding-right: 5px;
}
.react-add-to-calendar__dropdown {
  position: absolute;
  top: 30px;
  left: 5px;
  width: 125%;
  padding: 5px 0 5px 8px;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.15);
  border: 1px solid #a8a8a8;
  background-color: #fff;
  text-align: left;
}
.react-add-to-calendar__dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0.25rem;
}
.react-add-to-calendar__dropdown ul li a {
  color: #000;
  text-decoration: none;
  font-size: 0.5rem;
  white-space: nowrap;
}
.react-add-to-calendar__dropdown ul li a i {
  padding-right: 10px;
}
.popupbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}
.popupbox[hidden] {
  display: none;
}
.popupbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  background: none repeat scroll 0% 0% #000;
}
.popupbox-content {
  overflow: hidden;
}
.popupbox-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  z-index: 1003;
  position: relative;
}
.popupbox-titleBar {
  overflow: hidden;
  display: block;
  position: relative;
}
.popupbox-btn--close {
  z-index: 1004;
}
.popupbox[data-title='bottom'] .popupbox-content {
  order: 1;
}
.popupbox[data-title='bottom'] .popupbox-titleBar {
  order: 2;
}
.popupbox-wrapper {
  border-radius: 3px;
  overflow: hidden;
  max-width: 80%;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
  background-color: #fff;
}
.popupbox-content {
  padding: 20px 24px 30px;
}
.popupbox-content input {
  width: 70%;
  height: 30px;
  background: #efefef;
  border: none;
  padding: 0.2rem 0.5rem;
}
.popupbox-content button {
  width: 20%;
  height: 35px;
  background: #000;
  color: #fff;
  border: none;
}
.popupbox-titleBar {
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  padding: 11px 37px 11px 24px;
  border-bottom: 1px #ccc solid;
}
.popupbox-btn--close {
  transition: all 0.5s;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #c1c1c1;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
}
.popupbox-btn--close:hover {
  color: #000;
}
.popupbox.is-active {
  opacity: 1;
  pointer-events: auto;
}
.toggle-wrapper {
  position: relative;
  width: 50%;
  margin: 0.5em auto 2rem;
}
@media only screen and (max-width: 400px) {
  .toggle-wrapper {
    width: 80%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .toggle-wrapper {
    width: 66%;
  }
}
@media only screen and (min-width: 1050px) {
  .toggle-wrapper {
    width: 33%;
  }
}
.toggle-wrapper label {
  padding: 0.3em;
  font-size: 0.75rem;
  display: block;
  text-align: center;
  position: absolute;
  bottom: -1.5rem;
  width: calc(100% - 0.5rem);
  color: rgba(0,0,0,0.75);
}
.toggleContainer {
  width: 100%;
  position: relative;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  overflow: hidden;
}
.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #000;
  font-size: 0.8rem;
}
@media only screen and (max-width: 400px) {
  .toggleContainer .toggleOption {
    font-size: 0.25rem;
  }
}
.toggleContainer .toggleOption.selected {
  color: #fff;
  cursor: initial;
}
.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: #000;
}
.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}

.checkin {
  padding: 1rem;
  background: #fff;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: calc(100% - 4rem);
  border-radius: 1rem;
}

@media only screen and (min-width: 720px) {
  .checkin {
    width: 400px;
  }
}

.checkin h3 {
  margin: 0;
}

.checkin img {
  width: 6rem;
  height: 6rem;
  padding: 0;
  margin: 0;
}

.checkin a {
  display: block;
  border-radium: 0.5rem;
}

.checkin-icon {
  width: 50%;
  height: auto;
  max-width: 72px;
}

@media only screen and (min-width: 720px) {
  .checkin-icon {
    max-width: 100px;
  }
}

.locations {
  display: -ms-flexbox;
  display: flex;
  flex-flow: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.locations div {
  background: #000;
  border-radius: 50%;
  line-height: 0;
  margin: 0.5rem;
}

.locations div a {
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  background: #000;
  border-radius: 50%;
  line-height: 0;
  border: 2px dotted white;
}

.locations div.checked {
  padding: 0.5rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a6ed+11,00a6ed+11,ffff00+51,ffff00+51,ea0081+90 */
  background: #00a6ed; /* Old browsers */
  background: -moz-linear-gradient(45deg, #00a6ed 10%, #00a6ed 10%, #ffff00 50%, #ffff00 50%, #ea0081 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #00a6ed 10%,#00a6ed 10%,#ffff00 50%,#ffff00 50%,#ea0081 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #00a6ed 10%,#00a6ed 10%,#ffff00 50%,#ffff00 50%,#ea0081 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6ed', endColorstr='#ea0081',GradientType=0 ); /* IE6-9 */
}

.locations div.checked a {
  border: none;
}

.locations div img {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
  .locations div a,
  .locations div img {
    width: 2rem;
    height: 2rem;
  }
}

.qrreader {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
  .qrreader {
    width: 100%;
    height: 100%;
  }
}

.place {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.place h1 {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  width: calc(33.33% - 2rem);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
}

.card.blue {
  background: #34b6ee;
}

.card.pink {
  background: #ec008c;
}

.card.black {
  background: #000;
}

.card.yellow {
  background: #e9ec00;
}

.card h2 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.card .data {
  color: white;
  font-weight: bold;
  font-size: 8rem;
}
