body {
  font-family: 'Poppins', sans-serif;
  /*background-color: #444;*/
  background-color: #e9ec00;
}
a {
  color: #34b6ee;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
*:focus {
  outline: none;
}
svg {
  cursor: pointer;
}
canvas {
  //display: none;
}
.small {
  font-size: 0.75rem;
}
.x-small {
  font-size: 0.5rem;
}
.normal {
  font-weight: normal;
}
.capitalize {
  text-transform: capitalize;
}
.capsule {
  display: inline-block;
  border-radius: 1.5rem;
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
  background: #00BB77;
  color: #fff;
}
.capsules .capsule {
  line-height: 1;
  margin: 0.25rem;
}
.page {
  background: #fff;
  margin: 0 auto;
  padding: 0.5rem 1rem 2rem;
  max-width: 600px;
}
.fa {
  font-size: 1rem;
  transform: translateY(50deg);
  cursor: pointer;
  color: lightgrey;
  //color: #34b6ee;
}
.fa:hover {
  //color: #000;
  color: #34b6ee;
}
.fa span {
  display: none;
}
.fa-bolt {
  color: #fc5121;
}
.fa-spin {
  color: #000;
}
.fa-trash {
  color: #aaa;
}
.fa-diamond {
  color: #34b6ee;
}
.fa.fa-link {
  color: #fff;
  background: #f41c21;
  text-align: center;
  border-radius: 50%;
  font-size: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1rem;
  margin: 0;
  padding: 0.125rem;
  border: none;
}
.fa.fa-calendar {
  color: #34b6ee;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 0.75rem;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1rem;
  margin: 0;
  padding: 0.125rem;
  border: none;
}
.fa-plus-circle {
  color: #000;
  font-size: 1.33rem;
}
.fa-plus-circle:hover {
  color: #ec008c;
}
.fa-minus-circle {
  color: #ec008c;
  font-size: 1.33rem;
}
.fa-heart {
  color: #f41c21;
}
.fa-globe {
  color: #34b6ee;
}
.fa-map-marker {
  color: #fc5121;
}
.fa-star {
  color: #fff;
  font-size: 0.7rem;
  margin: 0 1px 0 0;
}
.fa-times {
  color: red;
}
.fa-times.clear-submit {
  color: #000;
  position: absolute;
  top: 0.25rem;
  right: 0.33rem;
}
.fa-clock-o {
  color: #ec008c;
}
.fa.nav-btn.fa-home {
  font-size: 1.25rem !important;
  line-height: 2rem;
}
.fa.nav-btn.top-left {
  position: absolute;
  top: 0.75rem;
  left: -1rem;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 2rem;
  height: 2rem;
}
.fa.nav-btn.top-right {
  position: absolute;
  top: 0.75rem;
  right: -1rem;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 2rem;
  height: 2rem;
}
.white {
  color: white;
}
.red {
  color: red;
}
.underline {
  text-decoration: underline;
}
.btn.facebook {
  background: #3b5998;
  margin: 0 0.25rem 1rem;
  width: 200px;
  white-space: nowrap;
  border-radius: 0.33rem;
}
.btn.google {
  background: #fff;
  color: #000;
  margin: 0 0.25rem 1rem;
  width: 200px;
  white-space: nowrap;
  border-radius: 0.33rem;
}
.btn.google .fa {
  color: #D93025;
}
.btn.twitter {
  background: #01ACED;
  color: #fff;
  margin: 0 0.25rem 1rem;
  width: 200px;
  white-space: nowrap;
  border-radius: 0.33rem;
}
.btn.twitter .fa {
  color: #fff
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: lightgrey;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: calc(112px + 1.5rem);
  padding-bottom: 55px;
}
@media only screen and (max-width: 400px) {
  .container {
    padding-top: calc(65px + 1.5rem);
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .container {
    padding-top: calc(70px + 1.5rem);
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
}
.center {
  text-align: center;
}
.jumbo {
  position: relative;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background: #000;
  overflow: hidden;
  padding: 0 2rem;
  box-sizing: border-box;
}
.jumbo h2 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  margin: 2rem 1rem 0;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .jumbo h2 {
    margin: 2rem 2rem 0;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1050px) {
  .jumbo h2 {
    margin: 2rem 2rem 0;
    font-size: 5rem;
  }
}
.jumbo h4 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  margin: 1rem;
}
.jumbo p {
  color: #fff;
  font-size: 0.8rem;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .jumbo p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1051px) {
  .jumbo p {
    font-size: 1.2rem;
  }
}
.jumbo .fa-facebook-square {
  color: #fff;
}
.jumbo .brand {
  position: relative;
  margin-top: -2rem;
  flex-direction: column;
}
.jumbo .brand h1 {
  color: #fff;
}
.jumbo .brand img {
  width: 72px;
  height: auto;
  margin: 0 auto;
}
.jumbo .sign-up {
  color: #fff;
}
.jumbo .sign-up strong {
  color: #34b6ee;
}
.jumbo .sign-up div {
  padding: 1rem 0;
}
.jumbo .sign-up input {
  border: none;
  padding: 0.5rem;
  width: 200px;
}
.jumbo .sign-up button {
  padding: 0.5rem;
  border: none;
  background: #000;
  color: #fff;
}
.jumbo .share-ui {
  font-size: 0.75rem;
}
.jumbo .share-ui div {
  padding: 0;
}
.jumbo .auth-ui {
  padding-top: 1rem;
}
.jumbo .share-buttons {
  width: 125px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.jumbo .share-buttons .fa {
  margin-left: 0.25rem;
}
.jumbo .white {
  color: white;
}
.section-one:after {
  content: '';
  background: url("./friends.jpg") center center;
  opacity: 0.5;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.section-one .jumbo-content {
  margin-top: 0;
}
.section-two {
  background: #34b6ee;
}
.section-two span {
  color: #e9ec00;
}
.section-three {
  background: #ec008c;
}
.section-three span {
  color: #34b6ee;
}
.section-four {
  background: #e9ec00;
}
.section-four span {
  color: #ec008c;
}
.section-four h2,
.section-four p {
  color: #000;
}
.section-four .section-nav {
  color: #000;
}
.section-four .section-nav .fa-chevron-down,
.section-four .section-nav .fa-chevron-up {
  color: #000;
}
.jumbo-content {
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.section-nav {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
}
.section-nav .fa-chevron-down,
.section-nav .fa-chevron-up {
  color: #fff;
  font-size: 2rem;
}
.user-points {
  position: absolute;
  font-size: 9px;
  padding: 0 0.2rem;
  height: 1rem;
  line-height: 1rem;
  background: rgba(1,172,237,0.66);
  border-top-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: white;
  white-space: nowrap;
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
  .user-points {
    left: 1.5rem;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1050px) {
  .user-points {
    right: -1rem !important;
    top: -0.4rem;
  }
}
@media only screen and (min-width: 1051px) {
  .user-points {
    right: 90% !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
}
.user-invites {
  position: fixed;
  top: 1.3rem;
  right: 2.1rem;
  font-size: 9px;
  padding: 0 0.3rem;
  height: 1rem;
  line-height: 1rem;
  background: red;
  color: white;
  white-space: nowrap;
  border-radius: 0.2rem;
  z-index: 9;
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
  .user-invites {
    top: 1.3rem;
    right: 2.1rem;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1050px) {
  .user-invites {
    top: 1.3rem;
    right: 2.1rem;
  }
}
@media only screen and (min-width: 1051px) {
  .user-invites {
    top: 2.95rem;
    right: 3.2rem;
  }
}
.user-profile-image {
  width: 30px;
  position: relative;
}
.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
@media only screen and (min-width: 1050px) {
  .user-profile {
    justify-content: center;
  }
}
.user-profile .user-profile-img {
  border-radius: 50%;
  margin: 0 auto;
}
.user-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
}
.user-profile h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #000;
  margin: 0 1rem 0 0.5rem;
}
@media only screen and (max-width: 800px) {
  .user-profile h4 {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .user-profile button.btn {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
  }
  .user-profile button.btn span {
    display: none;
  }
  .user-profile button.btn i {
    display: inline;
    color: #fff;
    margin: 0;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .user-profile button.btn {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
  }
  .user-profile button.btn span {
    display: none;
  }
  .user-profile button.btn i {
    display: inline;
    color: #fff;
    margin: 0;
  }
}
@media only screen and (min-width: 1050px) {
  .user-profile button.btn i {
    display: none;
  }
}
.user-profile-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 1051px) {
  .user-profile-wrapper {
    position: absolute;
    right: 4rem;
  }
}
.user-profile-contact {
  margin: 0.5rem;
}
.add-hang,
.add-hang-fixed {
  border-radius: 2px;
  border-top: 3px solid #f41c21;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
  width: calc(100% - 1rem);
  height: 88px;
  min-height: 88px;
  opacity: 0;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.add-hang.add-hang-tall {
  width: calc(100% - 2rem);
  min-height: 200px;
  height: auto !important;
  height: 200px;
  left: 1rem;
  bottom: 2.5rem;
  margin-left: 0;
  border-radius: 0;
  border-top: 4px solid #f41c21;
  opacity: 1;
}
@media only screen and (min-width: 1050px) {
  .add-hang-tall {
    min-height: 200px;
    height: auto !important;
    height: 200px;
  }
}
.add-hang .add-hang-form {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.add-hang.add-hang-tall .add-hang-form  {
  opacity: 1;
}

.add-hang,
.add-hang-fixed {
  width: 50px;
  margin: 0 50% 1rem;
  position: fixed;
  z-index: 9;
  bottom: -1rem;
  left: -25px;
  height: 50px;
  min-height: 50px;
  padding: 1rem;
  border-top: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.add-hang .fa,
.add-hang-fixed .fa {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.add-hang h3,
.add-hang-fixed h3 {
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.add-hang form,
.add-hang-fixed form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1050px) {
  .add-hang form,
  .add-hang-fixed form {
    flex-direction: row;
    justify-content: space-between;
  }
}
.add-hang button,
.add-hang-fixed button {
  margin: 0;
  white-space: nowrap;
  width: auto;
}
.add-hang img,
.add-hang-fixed img {
  border-radius: 50%;
}
.add-hang-fixed {
  position: fixed;
  bottom: 0;
  z-index: 3;
}
@media only screen and (min-width: 1050px) {
  .add-hang-fixed {
    position: relative;
  }
}
.add-hang-wrapper,
.add-msg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
@media only screen and (min-width: 1050px) {
  .add-hang-wrapper,
  .add-msg-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.add-hang-wrapper > div,
.add-msg-wrapper > div {
  width: 100% !important;
  box-sizing: border-box;
  margin: 0 0.5rem;
}
.add-hang-wrapper > div div,
.add-msg-wrapper > div div {
  width: 100% !important;
}
.add-hang-wrapper > div input,
.add-msg-wrapper > div input {
  width: 100%;
}
div.input-datetime > div {
  display: none;
}
div.input-datetime div.input-datetime {
  display: block;
}
div.input-datetime div.input-datetime div {
  display: block;
}
div.input-where-filled {
  position: relative;
}
div.input-where-filled div.input-title {
  width: 82% !important;
}
div.input-where-filled div.input-title input {
  color: #34b6ee !important;
}
div.input-where-filled svg {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}
@media only screen and (min-width: 1050px) {
  .add-hang-footer {
    width: 15%;
  }
}
.add-hang form > .input-datetime {
  padding: 0 0 0 9px;
}
.joyride-step-4 .input-location {
  z-index: 9999;
}
.btn-hang-action {
  width: 69px;
  height: 50px;
  //background: #ec008c;
  background: #f41c21;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.33rem;
  margin: 0;
  border: none;
  position: absolute;
  bottom: -50px;
  right: 0;
  border-bottom-left-radius: 0.5rem;
  cursor: pointer;
}
.btn-hang-action:hover {
  background: #000;
}
.btn-hang-action .fa-plus {
  color: #fff;
}
.btn-hang-action.host-checkin {
  background: #34b6ee;
  color: #fff;
  font-size: 0.66rem;
  font-weight: normal;
  line-height: 1.4;
}
.btn-hang-info {
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
}
.btn-hang-info .fa {
  font-size: 1.25rem;
  color: #fff;
}
.customWrapper {
  font-size: 0.75rem;
  text-align: left;
  padding: 0.5rem;
  z-index: 99999;
}
.display-hang {
  width: 100%;
}
.display-hang .page-spinner .fa-spin {
  font-size: 2rem;
  margin: 6rem auto;
  display: block;
  text-align: center;
}
.display-hang button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}
h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.home-header {
  margin: 0.5rem 0;
}

.section-header {
  position: relative;
  padding: 0 0.5rem;
}

.section-header h4 {
  margin: 0.5rem 0;
}

.section-header .menu {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

.section-header .menu .fa {
  margin-left: 0.5rem;
  color: #34b6ee;
  opacity: 0.33;
}

.section-header .menu .fa.on,
.section-header .menu .fa:hover {
  opacity: 1;
}

form button {
  width: 100%;
  margin-top: 10px;
}
a.btn-back {
  border-radius: 2px;
  background-color: #ededed;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  width: 22px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #ec008c;
  font-size: 2rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  padding: 10px;
  margin: 0 auto 1rem;
  display: table;
}
a.btn-back:hover {
  background: #000;
  color: #fff;
}
a.btn,
button.btn {
  border-radius: 2px;
  background-color: #34b6ee;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  padding: 10px 20px;
}
a.btn:hover,
button.btn:hover {
  background: #000;
  color: #fff;
}
.welcome-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}
.welcome-buttons .fa.fa-link {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}
.welcome-buttons .fa,
.welcome-buttons .SocialMediaShareButton {
  margin: 0 0.25rem;
}
.btn.btn-page-wrapper {
  background: black;
  color: white;
}
.btn.login {
  background: #000;
}
.btn.pink {
  width: calc(50vw - 4rem);
  height: 55px;
  background: #ec008c;
  display: inline-flex;
  font-size: 0.75rem;
  margin: 0 0.25rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}
.btn.blue {
  width: calc(50vw - 4rem);
  height: 55px;
  background: #34b6ee;
  display: inline-flex;
  font-size: 0.75rem;
  margin: 0 0.25rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 720px) {
  .welcome-buttons {
    margin-top: 1rem;
  }
  .btn.pink, .btn.blue {
    width: 200px;
    height: auto;
  }
}
button.center {
  border-radius: 2px;
  background-color: #34b6ee;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  padding: 10px 20px;
  margin: 0.5rem auto;
  display: block;
}
header {
  position: fixed;
  width: 100vw;
  z-index: 2;
  color: #fff;
  background-color: #fff;
  border-top: 5px solid #34b6ee;
  padding: 1rem 0 1rem 1rem;
  box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.15);
}
@media only screen and (min-width: 1050px) {
  header {
    padding: 33px 0 25px 1rem;
  }
}
header.hide,
.hide {
  display: none;
}
header .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1050px) {
  header .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
header i {
  vertical-align: middle;
  margin-left: 12px;
}
header button.btn {
  background: #000;
}
.brand {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  z-index: 1;
}
@media only screen and (max-width: 400px) {
  .brand {
    position: absolute;
    width: calc(100% - 2rem);
    margin-top: 0.25rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .brand {
    position: absolute;
    width: calc(100% - 2rem);
    margin-top: 0.25rem;
  }
}
@media only screen and (min-width: 1050px) {
  .brand {
    margin: 0;
  }
}
.brand img {
  width: auto;
  height: 25px;
}
@media only screen and (min-width: 1050px) {
  .brand img {
    height: 50px;
  }
}
.brand h1 {
  font-family: 'Arvo';
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0.15rem 0 0;
  vertical-align: middle;
  color: #000;
  height: 1rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1050px) {
  .brand h1 {
    font-size: 25px;
    height: 25px;
    margin: 0.5rem 0 0;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 18px;
  height: 15px;
  right: 1rem;
  top: 1.75rem;
}

@media only screen and (min-width: 1050px) {
  .bm-burger-button {
    width: 36px;
    height: 30px;
    top: 2.9rem;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 36px !important;
  width: 36px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: red;
  height: 6px !important;
  width: 28px !important;
  right: -0.5rem;
  top: 1rem;
}

/* General sidebar styles */
.bm-menu {
  background: #34b6ee;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  border-top: 5px solid #257fa7;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  text-align: left;
}

/* Individual item */
.bm-item {
  display: inline-block;
  border-bottom: 1px solid #e9ec00;
  padding: 1rem 0;
}

.bm-item.menu-item {
  font-weight: 600;
  color: #000;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.footer-nav {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100001;
}
.footer-nav .fa {
  font-size: 1.25rem;
}
.footer-nav div {
  color: #000 !important;
  font-weight: 600;
}
.hangs-nearby {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  padding: 0 2rem;
}
.hangs-nearby h3 {
  margin: 0;
  padding: 0;
}
.hangs-nearby .fa-map-marker {
  color: #f41c21;
  font-size: 1.25rem;
}
.hangs-nearby .fa-map-marker.blue {
  color: #34b6ee;
}
.hangs-nearby span {
  font-weight: 600;
  /*color: #fff;*/
  color: #000;
}
.hangs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.hang-item-enter {
  opacity: 0.01;
}
.hang-item-enter.hang-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.hang-item-leave {
  opacity: 1;
}
.hang-item-leave.hang-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.hang-item,
.hang-item-new {
  flex: 0 0 auto;
  list-style-type: none;
  background-color: #ededed;
  color: #000;
  margin: 0 1rem 1rem;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1800px) {
  .hang-item,
  .hang-item-new {
    width: calc(33.33% - 1rem);
    margin: 0 0.5rem 1rem;
    /*min-height: calc(1100px / 4);*/
  }
}
@media only screen and (max-width: 1023px) {
  .hang-item,
  .hang-item-new {
    width: calc(50% - 1rem);
    margin: 0 0.5rem 1rem;
    /*min-height: calc(1100px / 4);*/
  }
}
@media only screen and (max-width: 720px) {
  .hang-item,
  .hang-item-new {
    width: calc(100% - 2rem);
    margin: 0 auto 1rem;
    /*min-height: calc(100vw - 4rem);*/
  }
}
.hang-item img,
.hang-item-new img {
  width: 100%;
  height: auto;
}
.hang-item.show,
.hang-item-new.show {
  opacity: 1;
  visibility: visible;
  display: block;
}
.hang-item.hide,
.hang-item-new.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.hang-item-new {
  opacity: 1;
  visibility: visible;
  position: relative;
  border: 4px solid #34b6ee;
  box-sizing: border-box;
  overflow: hidden;
}
@media only screen and (max-width: 400px) {
  .hang-item-new {
    width: calc(100% - 2rem);
    min-height: calc(100vw - 3rem);
  }
}
.hang-item-new .hang-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: -0.5rem;
}
.hang-item hr {
  border: none;
  border-bottom: 1px solid white;
}
.hang-item-graphic {
  position: relative;
}
.hang-item-desc-wrapper {
  position: relative;
  background: #34b6ee;
  color: #fff;
  padding: 1rem 1.25rem 3rem;
  font-size: 1rem;
  overflow: scroll;
  height: 150px;
}
.hang-item-desc {
  padding: 0 0 2rem;
}
.hang-item-desc-close {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: calc(100% - 0.5rem);
  background: #34b6ee;
  text-align: right;
  padding: 0.25rem 0.5rem 0.25rem 0;
}
.hang-item-desc-close .fa {
  color: red;
  font-size: 1.25rem;
}
.hang-detail {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.hang-qr {
  padding: 0 1rem;
}
.hang-qr svg {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .hang-detail {
    width: calc(100% - 2rem);
    max-width: 500px;
    min-height: calc(1100px / 3.33);
  }
}
@media only screen and (min-width: 1050px) {
  .hang-detail {
    width: 50%;
    min-height: calc(1100px / 3.33);
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .hang-detail .hang-item {
    width: 100%;
  }
}
@media only screen and (min-width: 1050px) {
  .hang-detail .hang-item {
    width: 100%;
  }
}
.hang-date {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 1rem;
  text-transform: uppercase;
}
.hang-month {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
.hang-day {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.hang-year {
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
}
.hang-time {
  font-weight: 600;
}
.hang-header {
  position: relative;
  background-color: #ec008c;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 1rem 5rem 1rem 1rem;
  line-height: 0.75rem;
  cursor: pointer;
}
.hang-header h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}
.hang-header h2 a {
  color: #fff;
  text-decoration: none;
}
.hang-info {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hang-ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hang-ui .fa {
  margin-left: 0.25rem;
}
.hang-ui div {
  padding-left: 0.1rem;
}
.hang-ui button.hang-join,
.hang-ui button.hang-leave,
.hang-ui button.hang-check-in {
  background: #34b6ee;
  color: #fff;
  font-size: 0.66rem;
  padding: 0.33rem;
  margin: 0;
  border: none;
  border-radius: 0.2rem;
}
.hang-ui button.hang-leave {
  background: #ec008c;
}
.hang-ui button.hang-check-in {
  margin-right: 0.25rem;
}
.hang-member {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}
.hang-member b {
  display: inline;
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  color: #000;
}
.hang-member span {
  line-height: 1;
}
.hang-member img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 0.25rem;
}
.hang-member img.hang-host {
  width: 35px;
  height: 35px;
}
.hang-crew-wrapper {
  width: 100%;
}
.hang-number.hang-number {
  background: #ec008c;
  font-size: 0.33rem;
  color: #fff;
  min-width: 15px;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 10%;
  padding: 0 0.1rem;
  position: absolute;
  left: -0.5rem;
}
.hang-crew {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  border-top: 1px solid #b6b6b6;
}
.hang-crew-label {
  color: #b6b6b6;
  padding: 0 0.5rem;
  font-size: 0.5rem;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: -0.33rem;
  left: 50%;
  width: 40px;
  margin-left: -20px;
  background: #ededed;
  text-transform: uppercase;
}
.hang-crew-item {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hang-placetime {
  font-size: 0.66rem;
}
.hang-chat-wrapper {
  background: #d3d3d3;
}
.hang-chat-wrapper form {
  padding: 0 1rem;
  display: flex;
  align-items: bottom;
  justify-content: space-between;
}
.hang-chat {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  background: #fff;
}
.hang-chat-label {
  color: #b6b6b6;
  padding: 0.25rem 0.5rem 0;
  font-size: 0.5rem;
  font-weight: 600;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: -0.66rem;
  left: 50%;
  width: 50px;
  margin-left: -25px;
  background: #fff;
  text-transform: uppercase;
  border-radius: 0.25rem;
}
.add-msg-footer {
  margin-bottom: 1.5rem;
}
.add-msg-footer button.btn {
  background: #000;
  padding: 10px;
  border-radius: 50%;
}
.hang-msg-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.time-elapsed {
  font-size: 0.25rem;
  position: absolute;
  left: -0.5rem;
  bottom: -1rem;
  display: inline-block;
  white-space: nowrap;
  color: #000;
}
.hang-chat-item {
  padding: 0 1rem;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.25rem;
}
.hang-chat-item .hang-msg-user {
  margin-bottom: -0.5rem;
}
.hang-chat-item .hang-msg {
  position: relative;
  border-radius: 0.25rem 0.25rem 0.25rem 0;
  margin: 0 0.66rem;
  padding: 0.25rem 0.5rem;
  background: #34b6ee;
  font-size: 0.75rem;
  color: #fff;
  max-width: 50%;
}
.hang-chat-item .hang-msg:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 0;
  border-right: 10px solid #34b6ee;
}
.hang-chat-item.hang-chat-primary {
  flex-direction: row-reverse;
}
.hang-chat-item.hang-chat-primary .time-elapsed {
  left: auto;
  right: -0.5rem;
}
.hang-chat-item.hang-chat-primary .hang-msg {
  background: #ec008c;
  border-radius: 0.25rem 0.25rem 0 0.25rem;
}
.hang-chat-item.hang-chat-primary .hang-msg:before {
  display: none;
}
.hang-chat-item.hang-chat-primary .hang-msg:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 0;
  border-left: 10px solid #ec008c;
}
.crew {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.crew-member {
  width: calc(20% - 2rem);
  height: auto;
  margin: 1rem 1rem 0;
}
.crew-member > .crew-member-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.crew-member-name {
  margin: 0;
  line-height: 1.2;
  font-size: 0.5rem;
}
.crew-row {
  width: calc(50% - 2rem);
}
.crew-member-row {
  position: relative;
  width: 100%;
  height: 2rem;
  margin: 0.5rem;
}
.crew-member-row > .crew-member-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  float: left;
  margin-right: 0.5rem;
}
.crew-member-name {
  margin: 0;
  line-height: 2.5;
  font-size: 0.8rem;
  text-align: left;
  white-space: nowrap;
  text-transform: capitalize;
}
.crew-member-info {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
}
.crew-member-remove {
  position: absolute;
  top: 0.1rem;
  right: 0;
  font-size: 1.25rem;
}
.crew-member-status {
  font-size: 0.6rem;
  text-transform: capitalize;
  display: inline-block;
  background: #34b6ee;
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 1.5rem;
}
.crew-member-status.owner {
  background: #000;
}
.crew-member-status.joined {
  background: #3EB678;
}
.crew-member-remove {
  margin-top: 0.25rem;
}
.member-points-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.member-points-table thead {
  font-size: 0.75rem;
  border-bottom: 1px solid black;
}
.member-points-table td {
  padding: 0.5rem;
}
.member-points-table tr:nth-child(even) {
  background: #f5f5f5;
}
.member-points-total-row {
  border-top: 1px solid black;
}
.member-points {
  text-align: right;
}
.member-points-head {
  text-align: right;
}
.member-points-total {
  text-align: right;
  font-weight: bold;
  color: #34b6ee;
}
.member-points-border {
  width: 100%;
  border-top: 1px solid #f5f5f5;
}
.member-points-table {
    width: 100%;
    border-spacing: 0;
}

.member-points-table thead,
.member-points-table tbody,
.member-points-table tr,
.member-points-table th,
.member-points-table td { display: block; }

.member-points-table thead tr {
    width: 100%;
}

.member-points-table tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.member-points-table tbody {
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.member-points-table thead th {
  width: calc(50% - 1rem);
  padding: 0 0.5rem;
  float: left;
}

.member-points-table tbody tr td:nth-child(1){
    width: calc(75% - 1rem);
    float: left;
}

.member-points-table tbody tr td:nth-child(2){
    width: calc(25% - 1rem);
    float: left;
}

.member-points-table tfoot td {
    width: calc(50% - 1rem);
    float: left;
}
.orange {
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 400px) {
  .orange {
    width: calc(100% - 1rem);
    min-height: calc(100vw - 2rem);
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .orange {
    width: calc(50% - 1rem);
    min-height: calc((100vw / 2) - 2rem);
  }
}
@media only screen and (min-width: 1050px) {
  .orange {
    width: calc(33.33% - 1rem);
    min-height: calc(1100px / 3.33);
  }
}
.bubble {
  position: relative;
  display: inline-block;
  width: calc(100% - 4rem);
  max-width: 300px;
  padding: 0.33rem;
  margin: 0 0 1rem;
  border-radius: 1rem;
  background: #fff;
  text-align: center;
  font-size: 0.66rem;
}
.bubble:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -30px;
  right: 25%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #fff;
}
@media only screen and (min-width: 720px) {
  .bubble {
    font-size: 1rem;
  }
}
.orange img {
  width: 100%;
  height: auto;
}
.user-geolocation {
  position: relative;
  min-height: 40px;
  height: auto !important;
  height: 40px;
}
@import "_joyride.css";
.react-add-to-calendar {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  position: relative;
  display: inline-block;
  z-index: 1;
}
.react-add-to-calendar__wrapper {
  zoom: 1;
  cursor: pointer;
}
.react-add-to-calendar__button {
  padding: 0.33rem;
  background-color: #f9f9f9;
  border: 1px solid #aab9d4;
  border-radius: 3px;
  color: #000;
  font-size: 0.5rem;
}
.react-add-to-calendar__button--light {
  background-color: #fff;
}
.react-add-to-calendar__icon--right {
  padding-left: 5px;
}
.react-add-to-calendar__icon--left {
  padding-right: 5px;
}
.react-add-to-calendar__dropdown {
  position: absolute;
  top: 30px;
  left: 5px;
  width: 125%;
  padding: 5px 0 5px 8px;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.15);
  border: 1px solid #a8a8a8;
  background-color: #fff;
  text-align: left;
}
.react-add-to-calendar__dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0.25rem;
}
.react-add-to-calendar__dropdown ul li a {
  color: #000;
  text-decoration: none;
  font-size: 0.5rem;
  white-space: nowrap;
}
.react-add-to-calendar__dropdown ul li a i {
  padding-right: 10px;
}
.popupbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}
.popupbox[hidden] {
  display: none;
}
.popupbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  background: none repeat scroll 0% 0% #000;
}
.popupbox-content {
  overflow: hidden;
  padding: 0 !important;
}
.popupbox-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  z-index: 1003;
  position: relative;
}
.popupbox-titleBar {
  overflow: hidden;
  display: block;
  position: relative;
}
.popupbox-btn--close {
  z-index: 1004;
}
.popupbox[data-title='bottom'] .popupbox-content {
  order: 1;
}
.popupbox[data-title='bottom'] .popupbox-titleBar {
  order: 2;
}
.popupbox-wrapper {
  border-radius: 3px;
  overflow: hidden;
  max-width: 80%;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
  background-color: #fff;
}
.popupbox-content > .popupbox-pad {
  padding: 20px 24px 30px;
}
.popupbox-content > div > span {
  display: inline-block;
  padding: 20px 24px 30px;
}
.popupbox-content input {
  width: 70%;
  height: 30px;
  background: #efefef;
  border: none;
  padding: 0.2rem 0.5rem;
}
.popupbox-content button {
  width: 20%;
  height: 35px;
  background: #000;
  color: #fff;
  border: none;
}
.popupbox-titleBar {
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  padding: 11px 37px 11px 24px;
  border-bottom: 1px #ccc solid;
}
.popupbox-btn--close {
  transition: all 0.5s;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #c1c1c1;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
}
.popupbox-btn--close:hover {
  color: #000;
}
.popupbox.is-active {
  opacity: 1;
  pointer-events: auto;
}
.popup-content > div {
  padding: 1rem;
}
.card-popup {
  text-align: center;
  position: relative;
}
.card-popup .fa-times {
  position: absolute;
  color: #34b6ee;
  top: 1rem;
  right: 1rem;
  font-size: 1.25rem;
}
.card-popup-header {
  color: #fff;
}
.card-popup-content {
  line-height: 1.4;
  padding: 1rem 3rem 0.5rem;
}
.card-popup-content h5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}
.card-popup-content .price img {
  width: 1rem;
  height: 1rem;
  padding: 0 0.15rem;
}
.card-popup-content .rc-rate {
    font-size: 1rem;
}
.card-popup-bottom {
  width: 100%;
  height: 36px;
  background: #efefef;
}
.card-popup-makehang {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #34b6ee;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
}
.toggle-wrapper {
  position: relative;
  width: 50%;
  margin: 0.5em auto 2rem;
}
@media only screen and (max-width: 400px) {
  .toggle-wrapper {
    width: 80%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .toggle-wrapper {
    width: 66%;
  }
}
@media only screen and (min-width: 1050px) {
  .toggle-wrapper {
    width: 33%;
  }
}
.toggle-wrapper label {
  padding: 0.3em;
  font-size: 0.75rem;
  display: block;
  text-align: center;
  position: absolute;
  bottom: -1.5rem;
  width: calc(100% - 0.5rem);
  color: rgba(0,0,0,0.75);
}
.toggleContainer {
  width: 100%;
  position: relative;
  background: #ededed;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  overflow: hidden;
}
.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #000;
  font-size: 0.8rem;
}
@media only screen and (max-width: 400px) {
  .toggleContainer .toggleOption {
    font-size: 0.25rem;
  }
}
.toggleContainer .toggleOption.selected {
  color: #fff;
  cursor: initial;
}
.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: #000;
}
.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}

.public .brand {
  position: absolute;
  top: 3rem;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-left: -25px;
  flex-direction: row;
  background: none;
}
@media only screen and (min-width: 1px) and (max-width: 1050px) {
  .public .brand {
    top: 1.5rem;
  }
}
.public .brand h1 {
  color: #000;
  font-size: 1rem;
  margin-left: 0.5rem;
  line-height: 3rem;
}
.public .brand img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: #fff;
  border-radius: 50%;
  padding: 0.25rem;
}

.page-wrapper {
  position: relative;
  padding: 1rem;
  background: #fff;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: calc(100% - 4rem);
  border-radius: 1rem;
}

.page-wrapper.nobkgd {
  background: none;
}

.page-wrapper.register {
  width: 300px;
  max-width: none;
}

@media only screen and (min-width: 720px) {
  .page-wrapper,
  .page-wrapper.register {
    width: 400px;
  }
}

.page-wrapper h3 {
  margin: 0;
}

.page-wrapper img {
  width: 6rem;
  height: 6rem;
  padding: 0;
  margin: 0 auto;
}

.page-wrapper a {
  display: block;
  border-radium: 0.5rem;
}

.checkin-icon {
  width: 50%;
  height: auto;
  max-width: 72px;
}

@media only screen and (min-width: 720px) {
  .checkin-icon {
    max-width: 100px;
  }
}

.locations {
  display: -ms-flexbox;
  display: flex;
  flex-flow: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.locations div {
  background: #000;
  border-radius: 50%;
  line-height: 0;
  margin: 0.5rem;
}

.locations div a {
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  background: #000;
  border-radius: 50%;
  line-height: 0;
  border: 2px dotted white;
}

.locations div.checked {
  padding: 0.5rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a6ed+11,00a6ed+11,ffff00+51,ffff00+51,ea0081+90 */
  background: #00a6ed; /* Old browsers */
  background: -moz-linear-gradient(45deg, #00a6ed 10%, #00a6ed 10%, #ffff00 50%, #ffff00 50%, #ea0081 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #00a6ed 10%,#00a6ed 10%,#ffff00 50%,#ffff00 50%,#ea0081 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #00a6ed 10%,#00a6ed 10%,#ffff00 50%,#ffff00 50%,#ea0081 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6ed', endColorstr='#ea0081',GradientType=0 ); /* IE6-9 */
}

.locations div.checked a {
  border: none;
}

.locations div img {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
  .locations div a,
  .locations div img {
    width: 2rem;
    height: 2rem;
  }
}

.qrreader {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
  .qrreader {
    width: 100%;
    height: 100%;
  }
}

.place {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.place h1 {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  width: calc(33.33% - 2rem);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
}

.card.blue {
  background: #34b6ee;
}

.card.pink {
  background: #ec008c;
}

.card.black {
  background: #000;
}

.card.yellow {
  background: #e9ec00;
}

.card h2 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.card .data {
  color: white;
  font-weight: bold;
  font-size: 8rem;
}

.slick-empty {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: center;
}

.slick-slider {
  margin: 0 0 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
  .slick-slider {
    overflow: hidden;
  }
}

.slick-slider .slick-arrow {
  margin-top: 0;
}

.slick-slide {
  height: 144px;
}

.slick-slide:hover {
  opacity: 0.8;
}

.slick-slide > div {
  border-radius: 0.5rem;
  text-align: center;
  margin: 0 0.5rem;
  color: #fff;
}

.slick-slide span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}

.slick-slide > div > div > div {
  position:relative;
  background: #34b6ee;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide div.content {
  z-index: 2;
  padding: 0.5rem;
}

.slick-slide h4 {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
}

.slick-slide img {
  display: inline-block !important;
  width: 0.66rem;
  padding: 0 0.1rem;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
  .slick-slide h4 {
    font-size: 0.75rem;
  }
}

.group-select {
  margin: 0.8rem 0 0;
}

.group-select * {
  font-family: 'Roboto', sans-serif;
}

.group-select div:nth-child(3) {
  font-size: 0.8rem;
  text-align: left;
  text-transform: capitalize;
}

.group-creation-form > div {
  width: 100% !important;
}

.groups h4 {
  margin: 0;
}

.groups .add-group-btn {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}

.groups-table {
  width: 100%;
  border-collapse: collapse;
}

.groups-row {
  width: 100%;
}

.groups-row td {
  padding: 0.25rem 0.5rem;
}

.groups-row:nth-child(even) {
  background: #efefef;
}

.group-name {
  text-align: left;
  width: 90%;
}

.group-name strong {
  font-weight: 500;
  font-size: 0.75rem;
}

.group-name .group-number {
  font-size: 0.6rem;
  border-radius: 0.2rem;
  background: red;
  height: 1rem;
  line-height: 1rem;
  color: white;
  display: inline-block;
  text-align: center;
  margin-left: 0.25rem;
  padding: 0 0.2rem;
}

.group-sms-name {
  font-weight: bold;
  text-transform: capitalize;
}

.group-options {
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
}

.group-options .fa {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.addphone .react-tel-input {
  font-family: 'Roboto',sans-serif;
  font-size: 15px;
  position: relative;
  width: 63%;
  margin: 1rem auto;
  padding-left: 3rem;
}

.addphone .react-tel-input input[type=text],
.addphone .react-tel-input input[type=tel] {
  position: relative;
  font-size: 14px;
  letter-spacing: .01rem;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 1rem;
  margin-left: 0;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: auto;
  outline: none;
}

.addphone .react-tel-input .country-list {
  list-style: none;
  position: absolute;
  z-index: 15;
  padding: 0;
  margin: 10px 0 10px -1px;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.35);
  background-color: white;
  width: 250px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 0 0 3px 3px;
  text-align: left;
}

.open-status {
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  color: #fff;
  font-size: 0.5rem;
}

.open-status.red {
  background: #f41c21;
}

.open-status.green {
  background: #00aa55;
}

.rc-rate {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.75rem;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  outline: none;
}

@media only screen and (max-width: 720px) {
  .rc-rate {
    font-size: 0.5rem;
  }
}

.rc-rate-disabled .rc-rate-star:before,
.rc-rate-disabled .rc-rate-star-content:before {
  cursor: default;
}

.rc-rate-disabled .rc-rate-star:hover {
  transform: scale(1);
}

.rc-rate-star {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 0.2rem;
  position: relative;
  transition: all 0.3s;
  color: #e9e9e9;
  cursor: pointer;
  line-height: 1.5;
}

.rc-rate-star-first,
.rc-rate-star-second {
  transition: all 0.3s;
}

.rc-rate-star-focused,
.rc-rate-star:hover {
  transform: scale(1.1);
}

.rc-rate-star-first {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}

.rc-rate-star-half .rc-rate-star-first,
.rc-rate-star-half .rc-rate-star-second {
  opacity: 1;
}

.rc-rate-star-half .rc-rate-star-first,
.rc-rate-star-full .rc-rate-star-second {
  color: #e9ec00;
}
.rc-rate-star-half:hover .rc-rate-star-first,
.rc-rate-star-full:hover .rc-rate-star-second {
  color: #f8c165;
}

@font-face {
  font-family: 'anticon';
  src: url('//at.alicdn.com/t/font_r5u29ls31bgldi.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_r5u29ls31bgldi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_r5u29ls31bgldi.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_r5u29ls31bgldi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_r5u29ls31bgldi.svg#iconfont') format('svg');
  /* iOS 4.1- */
}

.anticon {
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon:before {
  display: block;
  font-family: "anticon" !important;
}

.anticon-star:before {
  content: "\e660";
}

.steps {
  position: relative;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 0 0.5rem;
  padding: 0;
}

.steps:after{
  content: '';
  position: absolute;
  top: 0.55rem;
  border-bottom: 2px solid #efefef;
  width: calc(100% - 1rem);
  left: 0.5rem;
  right: 0.5rem;
  height: 2px;
  z-index: 0;
}

.steps li {
  background: #efefef;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  z-index: 1;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.steps li.active {
    background: #34b6ee;
    color: #fff;
}

.choices {
  position: relative;
}

.choices input {
  display: none;
}

.choices label {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  //background: #34b6ee;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}

.choices label:hover {
  opacity: 0.9;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .choices label {
    width: 3.33rem;
    height: 3.33rem;
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
  .choices label {
    width: 4.25rem;
    height: 4.25rem;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
  .choices label {
    width: 5rem;
    height: 5rem;
    font-size: 0.8rem;
  }
}

.choices input:checked + label{
  background: #000;
}

.food-drink {
  background: #f41c21;
}
.arts-crafts {
  background: #fc5121;
}
.music-concerts {
  background: #fbaf17;
}
.trails-views {
  background: #00bb77;
}
.stage-screen {
  background: #11c8cd;
}
.sports-fitness {
  background: #34b6ee;
}
.help-giving {
  background: #652c90;
}
.words-stories {
  background: #c724eb;
}
.games-trivia {
  background: #ec008c;
}
